.main-container{
    width:100%;
    height:100vh;
    display: flex;
    justify-content:flex-start;
}
.app-reward{
    width:20%;
}
.app-category-container{
    width:80%;
    border-left:1px solid #ad9d9d;
    border-right:1px solid #ad9d9d;
}
hr {
    width:95%;
}
 *{
     color:#ad9d9d;
 }